@font-face{
	font-family: "irweb";
    src: url('http://localhost/ourweb/public/assets/fonts/IRANSans/IRANSansWeb.ttf');
    src: local('IRANSansWeb'), url('http://localhost/ourweb/public/assets/fonts/IRANSans/IRANSansWeb.woff') format('woff'), url('http://localhost/ourweb/public/assets/fonts/IRANSans/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: 'irweb';
	direction: rtl;
}
th, td {
	text-align: center;
}

body { padding-top:30px; }
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }